/* "Examples" block configs*/
div.gallery {
    display: inline-block;
    width: 190px;
	height: 190px;
    margin: 12px;
	margin-top: 18px;
	font-style: italic;
	font-size: 16px;
}
div.gallery img {width: 100%; height: auto;}
div.gallery img:hover {border: 1px solid #000;}
div.gallery a {text-decoration: none;}
div.gallery a:hover {text-decoration: underline;}

/* Titles/headers: defaults are too big*/
div.body h1 { margin-top: 0; padding-top: 0; font-size: 200%; }
div.body h2 { font-size: 170%; }
div.body h3 { font-size: 145%; }
div.body h4 { font-size: 125%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

/* Don't underline upon image hover */
a.reference:hover {
    border-bottom: none;
}

/* Image placement */
.sphx-glr-multi-img {
  max-width: 60%;
  height: auto;
}
.sphx-glr-single-img {
  margin: auto;
  display: block;
  max-width: 90%;
}

/* Code blocks */
div.highlight {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #f5f5f5;
}

div.highlight {
    background-color: #ffffcc;
}

dt:target, .highlight {
    background: #FAF3E8;
}

pre, tt, code {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.8em;
}

pre {
    background: #f5f5f5;
    padding: 10px;
    margin: 15px 0px;
    line-height: 1.3em;
}

dl pre, blockquote pre, li pre {
    margin-left: 0;
    padding: 10px;
}

tt, code {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
}

tt.xref, code.xref, a tt {
    background-color: #FBFBFB;
    border-bottom: 1px solid #fff;
}
